#content {
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}

#overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 9999;
    cursor: pointer;
  }
  
  #loader {
    text-align: center;
    margin: 0;
    height: 25vh;
    width: 25vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    background-size: 200% 200%;
    animation: gradient-shift 15s ease infinite;
    background: linear-gradient(60deg, #ff00cc, #333399, #ff9933);
    background-size: 600% 600%;
    border-radius: 5px;
}

@keyframes gradient-shift {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
    }

#loader p {
    font-size: 18px;
    font-weight: bold;
    color: white;
    animation: fade 3s ease infinite;
}

@keyframes fade {
    0%, 100% {opacity: 0.50;}
    50% {opacity: 1;}
}

#loader img {
    width: 100px;
    height: 100px;
}

legend {
    text-align: center;
    font-size: 18px;
    margin: 5px;
    padding: 10px;
    font-weight: bold;
    animation: gradient-shift 15s ease infinite;
    background: linear-gradient(60deg, #ff00cc, #333399, #ff9933);
    background-size: 600% 600%;
    border-radius: 5px;
}

fieldset {
    border: 2px solid #ff00cc;
    animation: changeColor 15s ease infinite;
}

@keyframes changeColor {
    0%   {border-color:#ff00cc;}
    50%  {border-color:#ff9933;}
    100% {border-color:#333399;}
}

select {
    color: black;
    background-color: rgb(240, 243, 245);
}