<!-- calculator -->
<fieldset id="calculator__form" class="table">
    <legend>Calculator</legend>
    <form hx-post="/calc" hx-target="#content">
        <label for="in">First Number</label>
        <input type="number" name="num1" required>
        <label for="in">Operation</label>
        <select name="operation" required>
            <option value="add">Add</option>
            <option value="subtract">Subtract</option>
            <option value="multiply">Multiply</option>
            <option value="divide">Divide</option>
        </select>
        <label for="in">Second Number</label>
        <input type="number" name="num2" required>
        <input type="submit" value="Calculate">
    </form>
</fieldset>

{% if result %}
<h2>Result: {{ result }}</h2>
{% endif %}

<!-- Display the update status here -->
<div id="updateStatus">
    {% if success %}
        <div class="box ok">
            <strong class="block titlebar">Success</strong>
            {{ success }}
        </div>
    {% endif %}
    {% if error %}
        <div class="box bad">
            <strong class="block titlebar">Error</strong>
            {{ error }}
        </div>
    {% endif %}
</div>