<fieldset id="docs__form">
    <legend>Demo Flask / Webview / HTMX Based Application</legend>
    <h2>What is a Flask / Webview / HTMX Application?</h2>
    <p>The Flast Webview HTMX Application is a hybrid desktop application that leverages the power of both Python-based web development and native desktop functionalities. It is designed to deliver the convenience of web technology, the performance of a native application, and the simplicity of Python programming.</p>

    <h2>Underlying Technologies</h2>
    <p>The application combines the capabilities of three key technologies:</p>

    <h3>Flask</h3>
    <p>Flask is a web framework written in Python, renowned for its simplicity and minimalistic approach. Despite its "micro" classification, Flask is more than capable of powering complex web applications, providing the flexibility to choose your own tools and libraries.</p>

    <h3>Pywebview</h3>
    <p>Pywebview is a lightweight library designed for creating web-based desktop applications. The core of Pywebview lies in using native WebView components to display web content in a separate application window. This allows developers to create beautiful and performant desktop applications using web technologies, without requiring knowledge of languages like C++ or Java.</p>

    <h3>HTMX</h3>
    <p>HTMX is an extremely lightweight and powerful front-end library that allows developers to easily handle AJAX, CSS Transitions, WebSockets, and Server Sent Events directly in HTML. This makes it possible to build modern and interactive web applications using HTML attributes, allowing the front-end to communicate with the backend via hypermedia, without needing JavaScript to handle these interactions.</p>

    <h2>How Does It Work?</h2>
    <p>The Flast Webview HTMX Application operates by running a local Flask server to host the web content. This content is then loaded into the Pywebview window, effectively transforming the web application into a desktop application. The communication between the Flask server and the Pywebview window, as well as between the front-end HTML and the Flask backend, is handled seamlessly by HTMX. This provides a smooth user experience and allows for dynamic content updates without requiring a full page reload.</p>
    
    <h2>Features</h2>
    <p>With the combined capabilities of Flask, Pywebview, and HTMX, the application can utilize the expansive Python ecosystem and the versatility of web development, all while providing a native look and feel. This includes features like real-time updates, smooth navigation, dynamic content loading, and more.</p>
</fieldset>
