<!-- system_info.html -->
<fieldset>
    <legend>System Information</legend>
    <h2>CPU Usage: {{ cpu_info }}%</h2>
    <h2>Memory: {{ memory_info.percent }}% used</h2>
    <h2>Disk: {{ disk_info.percent }}% used</h2>
    <h2>Processes:</h2>
    <table>
        <tr>
            <th>Username</th>
            <th>PID</th>
            <th>Name</th>
            <th>Memory</th>
            <th>CPU %</th>
            <th>Status</th>
        </tr>
        {% for process in processes %}
        <tr>
            <td>{{ process.username }}</td>
            <td>{{ process.pid }}</td>
            <td>{{ process.name }}</td>
            <td>{{ process.memory_info.rss }}</td>
            <td>{{ process.cpu_percent }}</td>
            <td>{{ process.status }}</td>
        </tr>
        {% endfor %}
    </table>
</fieldset> 
