<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
    <title>Demo</title>
    <script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/missing.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
    <section class="tool-bar">
        <button type=button hx-get="/home" hx-target="#content">Home</button>
        <hr aria-orientation="vertical">
        <button type=button hx-get="/calc" hx-target="#content">Calculator</button>
        <hr aria-orientation="vertical">
        <button type=button hx-get="/system" hx-target="#content">System Info</button>
        <hr aria-orientation="vertical">
        <button type=button hx-get="/system_configuration" hx-target="#content">Configuration</button>
        <hr aria-orientation="vertical">
        <button type=button hx-get="/logs" hx-target="#content">Logs</button>
        <hr aria-orientation="vertical">
        <button type="button" onclick="confirmExit()">Exit</button>
      </section>
    <main>
        <div id="content" hx-get="/home" hx-trigger="load">
            <!-- Content will be loaded here -->
        </div>
          <!-- Modal content using the <dialog> element -->
        <dialog id="modal">
            <p id="modalMessage"></p>
            <button id="closeBtn">OK</button>
        </dialog>
    </main>

    <script>
        // The only way we can actually "close" the window is to send them elsewhere
        function confirmExit() {
            if (confirm("Are you sure you wish to exit?")) {
                exitToLink();
            }
        }
        function exitToLink() {
            fetch('/exit', {method: 'GET'});
            window.location.href = "{{ on_exit }}";
        }
        // Ping the server every 2 seconds to keep the session alive, let the server know we're still here
        // If the server is no longer available, show the modal prompting the user to exit.
        window.onload = function() {
            const modal = document.getElementById('modal');
            const modalMessage = document.getElementById('modalMessage');
            const closeBtn = document.getElementById('closeBtn');
            let intervalId;
      
            function startFetching() {
              intervalId = setInterval(function() {
                fetch('/ping', { method: 'POST' })
                  .then(response => {
                    // Check if the response status is okay
                    if (!response.ok) {
                      throw new Error('Network error occurred.');
                    }
                  })
                  .catch(function(error) {
                    // Stop the interval to prevent further fetch attempts
                    clearInterval(intervalId);
                    
                    // First catch block to handle fetch-related errors
                    console.log('Fetch request failed:', error);
                    modalMessage.textContent = 'Demo AppServer is no longer running, click ok to exit.';
                    modal.showModal();
                  });
              }, 2000);
            }
      
            // Add event listener to close the modal and redirect when the close button is clicked
            closeBtn.addEventListener('click', function() {
              modal.close();
              window.location.href = '{{ on_exit }}';
            });
      
            // Start fetching when the page loads
            startFetching();
          };
    </script>
</body>
</html>
